<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" language="JavaScript">
        var client;
        let topic_id=0;
        function Connect() {
            client = new Paho.MQTT.Client("broker.mqttdashboard.com", 8000, "clientjs");
            client.connect({onSuccess: onConnect});
        }

        function Publish() {
            message = new Paho.MQTT.Message("hello again from flask");
            message.destinationName = "testtopic/1";
            client.send(message);
        }
        function subscribedBefore(topic){
            topic=topic.replace("/","");
            return $("#" + topic).length !== 0;

        }
        function Subscribe() {
            let topic = $("#topic_input").val().toString();
            console.log(topic);
            if(!subscribedBefore(topic))
                client.subscribe(topic, {onSuccess: onSubscribeSuccess, invocationContext: {topic: topic}});
            else
                alert("already subscribed");
        }

        function onSubscribeSuccess(obj) {
            topic=obj.invocationContext.topic;
            let id=topic.replace("/","");
            sub_elem = `<li id="${id}"> <p>${topic} <button  onclick="unSubscribe('${topic}','${id}')">delete</button></p></li>`;
            $("#subs").append(sub_elem);
        }


        function unSubscribe(topic,id) {
            client.unsubscribe(topic, {onSuccess: onUnSubscribeSuccess, invocationContext: {topic: topic,topic_id:id}});
        }

        function onUnSubscribeSuccess(obj) {
            topic=obj.invocationContext.topic;
            id=obj.invocationContext.topic_id;
            $('#'+id).remove();

        }

        function onConnect() {
            $('#status').text("Connected");
            connection_button = $("#connection_button");
            connection_button.text("Disconnect");
            connection_button.attr("onclick", "client.disconnect();");
            client.onMessageArrived = onMessageArrived;
            client.onConnectionLost = onConnectionLost;
        }

        function onConnectionLost() {
            $('#status').text("Not Connected");
            connection_button = $("#connection_button");
            connection_button.text("Connect");
            connection_button.attr("onclick", "Connect()");
            {#    remove messages #}

        }

        function onMessageArrived(message) {
            message_element = "<li>" + message.payloadString + "</li>";
            $("#message_list").prepend(message_element);
        }
    </script>
    <title>MQTT</title>
</head>
<body>
<p id="status">status: not connected</p>
<div>
    <input id="topic_input" type="text" placeholder="topic name" name="topic" required>
    <button onclick="Subscribe()">Subscribe</button>
</div>


<button id="connection_button" onclick="Connect()">Connect</button>
<button onclick="Publish()">Publish</button>
<ul id="message_list" style="alignment: right">
</ul>
<ul id="subs">

</ul>
</body>
</html>