<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" language="JavaScript">
        var client;
        let connected = false;

        function Connect() {
            try {
                broker = $("#broker").val();
                port = parseInt($("#port").val());
                clientid = $("#clientid").val();
                keepalive = parseInt($("#Keepalive").val());
                username=$("#id_username").val();
                password=$("#id_password").val();
                client = new Paho.MQTT.Client(broker, port, clientid);
                {#last will message#}
                topic=$("#topic_lastwill").val().toString();
                connect_options={
                    keepAliveInterval: keepalive,
                    onSuccess: onConnect,
                    onFailure: onFailure,
                    userName:username,
                    password:password,
                    useSSL:true
                };
                if(topic !=="")
                {

                    message = new Paho.MQTT.Message($("#msg_lastwill").val());
                    message.destinationName =topic;
                    message.qos = parseInt($("#qos_lastwill").val());
                    message.retained = $("#retain_lastwill").is(":checked");
                    connect_options["willMessage"]=message;
                }


                client.connect(connect_options);
            }catch (e) {
                console.log(e);
            }

        }

        function Publish() {
            if (!connected) {
                alert("you are not connected to broker");
                return;
            }
            message = new Paho.MQTT.Message($("#msg_pub").val());
            message.destinationName = $("#topic_pub").val().toString();
            message.qos = parseInt($("#qos_pub").val());
            message.retained = $("#retain_pub").is(":checked");
            client.send(message);
        }

        function subscribedBefore(topic) {
            topic = topic.replace("/", "");
            return $("#" + topic).length !== 0;

        }

        function Subscribe() {
            let topic = $("#topic_input").val().toString();
            let Qos = parseInt($("#QOS_sub").val());
            if (!subscribedBefore(topic))
                client.subscribe(topic, {
                    onSuccess: onSubscribeSuccess,
                    qos: Qos,
                    invocationContext: {topic: topic, qos: Qos}
                });
            else
                alert("already subscribed");
        }

        function onSubscribeSuccess(obj) {
            topic = obj.invocationContext.topic;
            Qos = obj.invocationContext.qos;
            let id = topic.replace("/", "");
            sub_elem = `<li id="${id}" style="display:inline;"> <p>${topic} <br><small>QOS:${Qos}</small> <button  onclick="unSubscribe('${topic}','${id}')">delete</button></p></li>`;
            $("#subs").append(sub_elem);
        }


        function unSubscribe(topic, id) {
            client.unsubscribe(topic, {
                onSuccess: onUnSubscribeSuccess,
                invocationContext: {topic: topic, topic_id: id}
            });
        }

        function onUnSubscribeSuccess(obj) {
            topic = obj.invocationContext.topic;
            id = obj.invocationContext.topic_id;
            $('#' + id).remove();
            $('.' + id).remove();

        }

        function onConnect() {
            $('#status').text("Connected");
            connection_button = $("#connection_button");
            connection_button.text("Disconnect");
            connection_button.attr("onclick", "client.disconnect();");
            client.onMessageArrived = onMessageArrived;
            client.onConnectionLost = onConnectionLost;
            connected = true;
        }

        function onFailure() {
            alert("error: may be  unknown host");
        }

        function onConnectionLost() {
            $('#status').text("Not Connected");
            connection_button = $("#connection_button");
            connection_button.text("Connect");
            connection_button.attr("onclick", "Connect()");
            $("#message_list").remove();
            $("#subs").remove();
            connected = false;
        }

        function onMessageArrived(message) {
            topic = message.destinationName.replace("/", "");
            now = new Date();
            day = now.getDay();
            month = now.getMonth();
            year = now.getFullYear();
            hour = now.getHours();
            minute = now.getMinutes();
            sec = now.getSeconds();
            message_element = `<li class=${topic}><div class=\"w3-panel w3-card w3-yellow\"><p> ${message.payloadString }
                <br><small>Topic:${message.destinationName}<br>qos:${message.qos}<br>retained:${message.retained}</small><br>Time:${year}-${month}-${day} ${hour}:${minute}:${sec}
                </p></div></li>`;
            $("#message_list").prepend(message_element);
        }

        function init() {
            let text = "";
            let possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for (let i = 0; i < 10; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            $("#clientid").val("clientid" + text)
        }

        window.onload = init
    </script>
    <title>MQTT</title>
</head>
<body>
<p id="status">status: not connected</p>
<div class="broker-info">
    Host: <input id="broker" type="text" placeholder="broker url or ip" required value="broker.mqttdashboard.com">
    Port: <input id="port" type="number" placeholder="port number" required value="8000">
    ClientID: <input id="clientid" type="text">
    Keep Alive:<input id="Keepalive" type="text" placeholder="60">
    username:<input id="id_username" type="text">
    password:<input id="id_password" type="password">
    <div id="last_will_msg">
        <h3>Last will message</h3>
        last-will Topic:<input id="topic_lastwill" type="text">
        last-will Qos:<input id="qos_lastwill" type="number" min="0" max="2" value="0" required>
        last-will Message:<textarea id="msg_lastwill"></textarea>
        <input id="retain_lastwill" type="checkbox">Retain
    </div>
    <button id="connection_button" onclick="Connect()">Connect</button>

</div>
<div>
    <br>
    Topic:<input id="topic_input" type="text" placeholder="topic name" name="topic" required value="testtopic/1">
    Qos: <input id="QOS_sub" type="number" min="0" max="2" value="0" required>
    <button onclick="Subscribe()">Subscribe</button>
</div>
<div id="publish">
    <br>
    Topic:<input id="topic_pub" type="text">
    Qos:<input id="qos_pub" type="number" min="0" max="2" value="0" required>
    Message:<textarea id="msg_pub"></textarea>
    <input id="retain_pub" type="checkbox">Retain:
    <button onclick="Publish()">Publish</button>
</div>
<ul id="subs">

</ul>
<ul id="message_list" style="alignment: right;list-style-type:None">
</ul>

</body>
</html>